{% extends 'base.html' %} {% block content %}

<div class="container">
  <h4>Add song</h4>
  <div class="row">
    <form action="{{ url_for('insert_song') }}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="song_name" name="song_name" type="text" class="validate">
          <label for="full_name">Song name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="song_writer" name="song_writer" type="text" class="validate">
          <label for="full_name">Songwriter</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="artist_name" name="artist_name" type="text" class="validate">
          <label for="full_name">Artist name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="song_lyrics" name="song_lyrics" type="text" class="validate">
          <label for="lyrics">Lyrics</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6">
          <select name="explicit_lyrics">
            <option value="" disabled selected>Choose your option</option>
            <option value="yes">Explicit lyrics</option>
            <option value="no">Clean lyrics</option>
          </select>
          <label>Explicit</label>
        </div>
        <div class="input-field col s12 m6">
          <select name="original_song">
             <option value="" disabled selected>Choose your option</option>
             <option placeholder="Placeholder" id="original_song" name="original_song" value="yes">Original version</option>
             <option placeholder="Placeholder" id="original_song" name="original_song" value="no">Cover version</option>
          </select>
          <label>Original</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light right" type="submit">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>




{% endblock %}
