{% extends 'base.html' %} {% block content %}
<div class="container">
    <br>
    <table class="striped">
        <tbody>
            <tr>
                <td>{{song.song_name}}</td>
            </tr>
            <tr>
                <td>{{song.song_writer}}</td>
            </tr>
            <tr>
                <td>{{song.artist_name}}</td>
            </tr>
            <tr>
                <td>Explicit lyrics? {{song.explicit_lyrics}}</td>
            </tr>
            <tr>
                <td>{{song.song_lyrics}}</td>
            </tr>
        </tbody>
    </table>
    <br>

    <a href="{{url_for('edit_song', song_id=song._id)}}" class="waves-effect waves-light btn col s6">Edit</a>
    <a href="{{url_for('delete_song', song_id=song._id)}}" class="waves-effect waves-light btn col s6">Delete</a>
</div>

{% endblock %}
